* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: blue;
    width: 80%;
    margin: auto;
}

.card {

}

.card_image {

}

.main_image {

}

.over_image {

}

.heart {

}

.card_patchs {

}

.card_text {

}

.card_text_brand {

}

.card_text_price {

}

.new_price {

}

.old_price {
    
}