* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-spacing: 0px;
}

.container {
    background-color: blue;
    width: 80%;
    margin: 20px auto;
}

.card {
    min-height: 250px;
    position: relative;
    display: inline-block;
    width: 32.5%;
    overflow: hidden;
    margin-bottom: 15px;
    word-spacing: 5px;
/*     margin: auto; */
}

.card_image {
    width: 100%;
    position: relative;
}

.card_image img{
    max-width: 100%;
}

.main_image {

}

.over_image {
    display: none;
}

/* .card:hover .over_image {
    display: block;
} */

.heart {
    background-color: white;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
}

.card_patches {
    position: relative;
    bottom: 40px;
}

.discount {
    color: white;
    font-weight: 700;
    background-color: crimson;
    padding: 7px 5px;
    vertical-align: middle;
    margin-right: 5px;
}

.sustainability {
    color: white;
    font-weight: 900;
    background-color: rgb(0, 148, 111);
    padding: 7px 5px;
    vertical-align: middle;
}

.card_text {

}

.card_text_brand {

}

.card_text_dress {

}

.card_text_price {

}

.text_brand {
    word-spacing: normal;
}

.text_dress {
    word-spacing: normal;
}

.new_price {
    word-spacing: normal;
    color: red;
    font-weight: bold;
}

.old_price {
    word-spacing: normal;
    text-decoration-line: line-through;
}